.title{
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
    
}
.main-section{
    min-height: 80vh;
}
.card{
    width: 90%;
    max-width: 400px;
    padding: 4rem 2rem;

    border-radius: 1rem;
    border: 1px solid transparent;

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

    border-top-color: (255, 255, 255, 0.5);
    border-left-color: (255, 255, 255, 0.5);
    border-bottom-color: (255, 255, 255, 0.1);
    border-right-color: (255, 255, 255, 0.1);


}

.cb{
    background-color: rgba(255, 255, 255, 0.1);
}
.cb img{
    box-shadow: 3px 3px 3px rgb(0 0 0 / 0.2);
    position: relative;
    width: 50%;
    left: 5rem;
}

/* 
.cb2{
    color: black;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
} */
